/* General Styles for the Todo List Container */
.todo-list-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Reset Styles for the List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styles for Each Todo Card */
.NoteCardContent {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 20px; /* Creates space between cards */
}

/* Flex Container for Grouping Fields */
.info-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjusts spacing between items */
  padding-bottom: 0.5rem;
 
}

/* Styling for Text Elements */
.NoteText {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0; /* Removes default margin */
  text-align: left;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-size:1rem;
}

/* Styles for the container of each row of fields */
.form-row-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Adds space between the rows */
}

/* Styles for individual form fields (assuming they're wrapped in divs) */
.form-row-group > div {
  display: flex;
  width: 100%; /* Default to full width */
}

/* First and Second Rows: 4 Items */
.form-row-group:nth-of-type(1) > div, .form-row-group:nth-of-type(2) > div {
  flex: 1 1 25%; /* Adjusts the item's base size to fill 1/4th of the row */
}

/* Third Row: 2 Items */
.form-row-group:nth-of-type(3) > div {
  flex: 1 1 50%; /* Adjusts the item's base size to fill half of the row */
}


/* Button Style Adjustments */
.delete-btn {
  background-color: #FF1744;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Space from the last info group */
  align-self: flex-start; /* Aligns to the start of the flex container */
}
p {
  font-size:1rem;
}
