/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
}

.App {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333; /* Adjust the color to fit your design */
  text-align: center; /* Centers your title */
  font-size: 2rem; /* Adjust the size as needed */
  margin-top: 20px; /* Adds space at the top */
  margin-bottom: 30px; /* Adds space at the bottom */
  font-family: 'Arial', sans-serif; /* Use a font that matches your app's style */
  font-weight: normal; /* Adjust as needed, depending on the font and your preference */
}


form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #ccd0d5;
  width: calc(100% - 24px); /* Adjusted for padding and border */
  font-size: 14px;
  display: block; /* Ensure inputs are full width */
}

input[type="text"],
select {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #ccd0d5;
  width: calc(100% - 24px); /* Adjusted for padding and border */
  font-size: 14px;
  display: block; /* Ensure elements are full width */
}



.App table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2%;
}

.App th, .App td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.App th {
  background-color: #f2f2f2;
  font-size: 14px; /* Larger font size for headers */
}

.App td {
  font-size: 12px; /* Smaller font size for data cells */
}

/* Column widths */
.App th:nth-child(1), .App td:nth-child(1) { width: 3%; }
.App th:nth-child(2), .App td:nth-child(2) { width: 10%; }
.App th:nth-child(3), .App td:nth-child(3) { width: 10%; }
.App th:nth-child(4), .App td:nth-child(4) { width: 54%; }
.App th:nth-child(5), .App td:nth-child(5) { width: 20%; }



.durable {
  white-space: normal; /* Allow wrapping */
  overflow: visible; /* Let text take the space it needs */
}

.edit-btn, .delete-btn {
  justify-self: center; /* Center buttons in their cell */
  width: 30px; /* Set fixed width for buttons */
  text-align: center;
  align-items: flex-end;
  background-color: #ff004c;
}



button {
  padding: 4px ;
  border-radius: 20px;
  border: none;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  font-size: 14px;
  /* Remove margin-left if using grid */
  /* margin-left: 5px; */
  text-align: center;
}

footer {
  background-color: #f1f1f1; /* Change this color to fit your design */
  text-align: center;
  padding-top: 20px; /* Adds padding at the top of the footer */
  padding-bottom: 20px; /* Adds padding at the bottom for spacing */
}

footer p {
  color: #333; /* Change this color to fit your design */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 20px; /* Adds spacing between the icons and the copyright text */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adjust the space between icons */
  padding: 10px 0; /* Adds padding around the social media links for better spacing */
}

.social-icon {
  display: inline-block;
  color: #fff; /* This sets the icon color */
  background-color: #007bff; /* Change this to match your design or to differ for each platform */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #0056b3; /* Darker shade for hover effect, customize as needed */
}

.social-icon.linkedin {
  background-color: #0077b5;
}

.social-icon.linkedin:hover {
  background-color: #005693;
}

.social-icon.twitter {
  background-color: #1DA1F2;
}

.social-icon.twitter:hover {
  background-color: #1A91DA;
}

/* Customize user icon color if needed */
.social-icon.user {
  background-color: #333; /* Dark background for user icon */
}

.social-icon.user:hover {
  background-color: #555; /* Darker shade for hover effect */
}




/* Style adjustments for smaller screens or specific preferences */
@media (max-width: 768px) {
  button {
    padding: 4px 10px; /* Smaller padding for smaller screens */
    font-size: 12px;
  }
}


.button-container {
  text-align: right; /* Keeps buttons aligned to the right */
  padding-top: 5px; /* Adds some space above the buttons */
}


button:hover {
  background-color: #166fe5;
}


ul {
  list-style-type: none;
}




