/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



/* App Container */
.App {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Typography */
h1 {
  color: #333;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Forms and Inputs */
form {
  margin-bottom: 20px;
}

input[type="text"],
select {
  padding: 8px 12px;
  margin-bottom: 5px;
  border: 1px solid #ccd0d5;
  width: calc(100% - 24px);
  font-size: 14px;
  display: block;
}



/* Tables */
.App table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2%;
}

.App th,
.App td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.App th {
  background-color: #f2f2f2;
  font-size: 14px;
}

.App td {
  font-size: 12px;
}

/* Column Widths */
.App th:nth-child(1),
.App td:nth-child(1) {
  width: 3%;
}

.App th:nth-child(2),
.App td:nth-child(2) {
  width: 8%;
}

.App th:nth-child(3),
.App td:nth-child(3) {
  width: 10%;
}

.App th:nth-child(4),
.App td:nth-child(4) {
  width: 49%;
}

.App th:nth-child(5),
.App td:nth-child(5) {
  width: 12%;
}

.App th:nth-child(6),
.App td:nth-child(6) {
  width: 08%;
}

/* Buttons */

/* Edit Mode Input - Specific Style */
.App input.edit-mode-input,
.App select.edit-mode-input {
  border-radius: 0 ;
  font-size: 10px;
}



.delete-btn {
  background-color: #ff004c;
  margin-right: 4%;
  padding: 5px 8px ;
  font-size: 12px;
}

.download-btn {
  background-color: #10ac3a;

}

button {
  padding: 4px;
  border: none;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 15px;
}

button:hover {
  background-color: #e5b116;
}

/* Footer */
footer {

  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
  margin-top: 10px;
}

/* Social Media Links */
.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
}

.social-icon {
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #0056b3;
}

/* Specific Social Icon Colors */
.social-icon.linkedin {
  background-color: #0077b5;
}

.social-icon.linkedin:hover {
  background-color: #005693;
}

.social-icon.twitter {
  background-color: #1DA1F2;
}

.social-icon.twitter:hover {
  background-color: #1A91DA;
}

.social-icon.user {
  background-color: #333;
}

.social-icon.user:hover {
  background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  button {
    padding: 4px 10px;
    font-size: 12px;
  }
}

/* Additional Styles */


.form-row {
  display: flex;
  /* Aligns children inline */
  gap: 10px;
  /* Adds some space between the elements */
  margin-bottom: 5px;
  /* Space below the row */
}

input[type="text"],
select,
textarea {
  padding: 8px 12px;
  border-radius: 20px;
  /* Maintains style consistency */
  border: 1px solid #ccd0d5;
  font-size: 14px;
  display: block;
}

textarea {
  width: calc(100% - 4px);
  /* Matches the input and select width */
  resize: vertical;
  /* Allows vertical resizing only */
  margin-bottom: 10px;
}