/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
}

.App {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #1877f2;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #ccd0d5;
  width: calc(100% - 24px); /* Adjusted for padding and border */
  font-size: 14px;
  display: block; /* Ensure inputs are full width */
}

input[type="text"],
select {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #ccd0d5;
  width: calc(100% - 24px); /* Adjusted for padding and border */
  font-size: 14px;
  display: block; /* Ensure elements are full width */
}



li {
  display: grid;
  grid-template-columns: 20px 80px 80px minmax(120px, 3fr) auto 40px 40px; /* Adjusted for Durable */
  gap: 5px;
  align-items: start; /* Align items to the start to handle multiline text */
  background-color: #e4e6eb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

li span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; /* Ensure text wraps correctly */
}

li .username {
  font-weight: bold; /* Set username field to bold */
}

li .number {
  color: red; /* Set number field to red color */
}

.durable {
  white-space: normal; /* Allow wrapping */
  overflow: visible; /* Let text take the space it needs */
}

.edit-btn, .delete-btn {
  justify-self: center; /* Center buttons in their cell */
  width: 30px; /* Set fixed width for buttons */
  text-align: center;
  align-items: flex-end;
  background-color: #ff004c;
}



button {
  padding: 6px ;
  border-radius: 20px;
  border: none;
  background-color: #1877f2;
  color: white;
  cursor: pointer;
  font-size: 14px;
  /* Remove margin-left if using grid */
  /* margin-left: 5px; */
  text-align: center;
}

/* Style adjustments for smaller screens or specific preferences */
@media (max-width: 768px) {
  button {
    padding: 4px 10px; /* Smaller padding for smaller screens */
    font-size: 12px;
  }
}


.button-container {
  text-align: right; /* Keeps buttons aligned to the right */
  padding-top: 10px; /* Adds some space above the buttons */
}


button:hover {
  background-color: #166fe5;
}


ul {
  list-style-type: none;
}




